.App {
  background-color: chocolate;
  /* display: flex;
  justify-content: space-around; */
  height: 100vh;
}

.wrpSvg {
  
  /* flex-grow: 1;
  margin: 100px;
  position: relative; */
}

svg {
  border: 1px dashed black;
  /* position: absolute; */
  /* shape-rendering:geometricPrecision;     */
  box-sizing: border-box;
  /* width: 100%; */
}

.p1{
  transition: all 1s ease-out;
}

.path-data{
  stroke-width: 1px;
  stroke: blue;   
  fill: none;
  /* opacity: 0; */
  /* stroke-dasharray: 3 6; */
  marker: url('#mrkVHAxis');
  transition: opacity 1s;
}

.visible{
  opacity: 1;
}

.axis{
  stroke: black;
  /* stroke-width: 10px;  */
 
}

.txt-axis{
  font-family: lato-normal;
  font-size: 10px;
  text-anchor: end;
  /* text-align: left; */
  /* transform: rotate(-90deg); фигня выходит */
  /* transform: translate(); */
}

.txt-pa{
  fill: green; 
}
.txt-hum{
  fill: blue;
}
.txt-temp{
  /* stroke: darkred; */
  fill: rgb(172, 13, 13);
}



#path1:hover {
  stroke: darkred;
}

/* #mCircle:hover{
  fill: darkgreen;
} */

.mrk{
  /* fill: red; */
  stroke: black;
  /* stroke-width: 1px; */
  /* display: none; */
}